<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.truemlgpro.wifiinfo">
	
	<uses-sdk
		android:minSdkVersion="21" 
		android:targetSdkVersion="29" />
	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
    <application
        android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DarkTheme">
        
		<activity
            android:name="com.truemlgpro.wifiinfo.SplashActivity"
			android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.MainActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.DevInfoActivity"
			android:label="Developer Info"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.DiscordServersActivity"
			android:label="Discord Servers"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.SupportersActivity"
			android:label="Supporters"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.SettingsActivity"
			android:label="Settings"
			android:screenOrientation="portrait">
		</activity>
		
		<service
			android:name=".NotificationService"
			android:enabled="true">
		</service>
		
		<service
			android:name=".ConnectionStateService"
			android:enabled="true"
			android:process=":ConnectionStateProcess">
		</service>
		
		<receiver android:name=".ConnectionStateReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
		
		<receiver android:name=".BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
		<receiver android:name=".ActionButtonReceiver">
			<intent-filter>
				<action android:name="ACTION_STOP" />
			</intent-filter>
		</receiver>
		
    </application>
</manifest>
