<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-sdk
		android:minSdkVersion="21"
		android:targetSdkVersion="34"
		tools:overrideLibrary="thecollectiveweb.com.tcwhois"
		tools:ignore="GradleOverrides" />

	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<application
		android:name=".App"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/DarkTheme"
		android:largeHeap="true"
		android:usesCleartextTraffic="true"
		android:localeConfig="@xml/locale_config"
		tools:targetApi="tiramisu">

		<meta-data android:name="android.webkit.WebView.MetricsOptOut"
			android:value="true" />

		<activity
			android:name="com.truemlgpro.wifiinfo.ui.MainActivity"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
			android:theme="@style/Theme.App.Starting"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
			</intent-filter>
		</activity>
	    <activity
			android:name="com.truemlgpro.wifiinfo.ui.SupportersActivity"
			android:label="Supporters"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
			android:parentActivityName=".ui.SettingsActivity">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.ui.ToolsActivity"
			android:label="Tools"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
			android:parentActivityName=".ui.MainActivity">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.ui.SettingsActivity"
			android:label="Settings"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
			android:parentActivityName=".ui.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.truemlgpro.wifiinfo.ui.MainActivity" />
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.ui.CellularDataIPActivity"
			android:label="Cellular Data IP"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
			android:parentActivityName=".ui.ToolsActivity">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.ui.RouterSetupActivity"
			android:label="Router Setup"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
			android:parentActivityName=".ui.ToolsActivity">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.ui.PingToolActivity"
			android:label="Ping Tool"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
			android:parentActivityName=".ui.ToolsActivity">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.ui.SubnetScannerActivity"
			android:label="Subnet Scanner"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
			android:parentActivityName=".ui.ToolsActivity">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.ui.PortScannerActivity"
			android:label="Port Scanner"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
			android:parentActivityName=".ui.ToolsActivity">
		</activity>
		<activity
			android:name="com.truemlgpro.wifiinfo.ui.WhoIsToolActivity"
			android:label="Whois Tool"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
			android:parentActivityName=".ui.ToolsActivity">
		</activity>
	    <activity
			android:name="com.truemlgpro.wifiinfo.ui.DNSLookupActivity"
			android:label="DNS Lookup"
			android:screenOrientation="unspecified"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
		    android:parentActivityName=".ui.ToolsActivity">
		</activity>

		<service
			android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
			android:enabled="false"
			android:exported="false">
			<meta-data
				android:name="autoStoreLocales"
				android:value="false" />
		</service>

		<service
			android:name=".services.ConnectionStateService"
			android:enabled="true"
			android:foregroundServiceType="specialUse">
			<property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
				android:value="This service listens to the state of the Wi-Fi connection and manages the lifecycle of the NotificationService based on the changes of this state. When the user disconnects from a Wi-Fi network, this service stops the NotificationService to avoid unnecessary battery drain. Likewise, when the user reconnects to a Wi-Fi network, this service restarts the NotificationService." />
		</service>

		<service
			android:name=".services.NotificationService"
			android:enabled="true"
			android:foregroundServiceType="specialUse">
			<property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
				android:value="This service provides real-time updates of the current Wi-Fi connection information such as SSID, BSSID, RSSI, etc., even when the application is not running or is in the background." />
		</service>

		<service
			android:name=".services.QSTileService"
			android:label="IP Address"
			android:icon="@drawable/wifi_24px"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
			android:exported="true">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>

		<receiver android:name=".receivers.BootReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<receiver android:name=".receivers.ActionButtonReceiver"
			android:exported="false">
			<intent-filter>
				<action android:name="ACTION_STOP" />
				<action android:name="ACTION_STOP_CONN_STATE_SERVICE" />
				<action android:name="ACTION_NTFC_SETTINGS" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
